<a href="https://colab.research.google.com/github/AngelGui/Pandas_learining/blob/main/2_pandas_%E4%B8%AA%E6%80%A7%E5%8C%96%E6%98%BE%E7%A4%BA%E8%AE%BE%E7%BD%AE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas è¿›é˜¶ä¿®ç‚¼ ï½œæ—©èµ·Python
<br>

**æœ¬ä¹ é¢˜ç”±å…¬ä¼—å·ã€æ—©èµ·Python & å¯è§†åŒ–å›¾é‰´ã€‘ åŸåˆ›ï¼Œè½¬è½½åŠå…¶ä»–å½¢å¼åˆä½œè¯·ä¸æˆ‘ä»¬è”ç³»ï¼ˆå¾®ä¿¡å·`sshs321`)ï¼Œæœªç»æˆæƒä¸¥ç¦æ¬è¿åŠäºŒæ¬¡åˆ›ä½œï¼Œä¾µæƒå¿…ç©¶ï¼**



æœ¬ä¹ é¢˜åŸºäº `pandas` ç‰ˆæœ¬ `1.1.3`ï¼Œæ‰€æœ‰å†…å®¹åº”å½“åœ¨ `Jupyter Notebook` ä¸­æ‰§è¡Œä»¥è·å¾—æœ€ä½³æ•ˆæœã€‚

ä¸åŒç‰ˆæœ¬ä¹‹é—´å†™æ³•å¯èƒ½ä¼šæœ‰å°‘è®¸ä¸åŒï¼Œå¦‚è‹¥ç¢°åˆ°æ­¤æƒ…å†µï¼Œä½ åº”è¯¥å­¦ä¼šå¦‚ä½•è‡ªè¡Œæ£€ç´¢è§£å†³ã€‚

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# 2 - pandas ä¸ªæ€§åŒ–æ˜¾ç¤ºè®¾ç½®
<br>

åœ¨ä½¿ç”¨ `pandas` æ—¶ï¼Œæœ‰æ—¶é»˜è®¤çš„é…ç½®æ–¹æ¡ˆå¹¶ä¸èƒ½è®©æˆ‘ä»¬èˆ’æœçš„è¿›è¡Œæ•°æ®åˆ†æã€‚

å¹¸è¿çš„æ˜¯ï¼Œ`pandas` ä¹Ÿæ”¯æŒæˆ‘ä»¬ <font color=#E36C07>**è‡ªå®šä¹‰æ˜¾ç¤ºã€æ ·å¼ç­‰ä¸ªæ€§åŒ–æ“ä½œ**</font>ã€‚

æœ¬èŠ‚å°†éƒ¨åˆ†å¸¸ç”¨çš„è®¾ç½®æ•´ç†ä¸ºä¹ é¢˜å½¢å¼ï¼Œ<font color=#E36C07>  **æ‰€æœ‰æ“ä½œç­”æ¡ˆæ‹¿èµ°å³ç”¨ã€‚æ—¢å¯ä»¥åˆ·ä¸€éæ¥äº†è§£æœ‰è¿™æ ·é‚£æ ·çš„è®¾ç½®ï¼Œä¹Ÿå¯ä»¥ä¿å­˜ç”¨äºé€ŸæŸ¥æ‰‹å†Œ** </font>  

æ³¨æ„ï¼šæœ¬ä¹ é¢˜ä¸­æœªæåŠçš„é…ç½®å¯ä»¥ç‚¹å‡»æŸ¥é˜… `pandas` ğŸ‘‰ [**å®˜æ–¹æ–‡æ¡£å¯¹åº”æ–‡ç« **](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html)

## åˆå§‹åŒ–

<br>

è¯¥ `Notebook` ç‰ˆæœ¬ä¸º**çº¯ä¹ é¢˜ç‰ˆ**

å¦‚æœéœ€è¦ç­”æ¡ˆæˆ–è€…æç¤ºï¼Œå¯ä»¥å¾®ä¿¡æœç´¢å…¬ä¼—å·ã€Œæ—©èµ·Pythonã€è·å–ï¼

## åŠ è½½æ•°æ®

å¯¼å…¥ `pandas` å¹¶è¯»å–å½“å‰ç›®å½•ä¸‹ `csv` æ•°æ®(`data.csv`)

In [3]:
import pandas as pd
path = "/content/drive/MyDrive/Pandas_Advanced_Exercise-main/2 - ä¸ªæ€§åŒ–æ˜¾ç¤ºè®¾ç½®/data.csv"

In [5]:
data = pd.read_csv(path)
data

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,æ•°æ®åˆ†æ,475770,50-150äºº,"ç§»åŠ¨äº’è”ç½‘,ç”µå•†",Aè½®,"['ç»©æ•ˆå¥–é‡‘', 'å¸¦è–ªå¹´å‡', 'å®šæœŸä½“æ£€', 'å¼¹æ€§å·¥ä½œ']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],False
1,5204912,æ•°æ®å»ºæ¨¡,50735,150-500äºº,ç”µå•†,Bè½®,"['å¹´ç»ˆå¥–é‡‘', 'åšäº”ä¼‘äºŒ', 'å…­é™©ä¸€é‡‘', 'å­å¥³ç¦åˆ©']",å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,å»ºæ¨¡,...,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6877668,æ•°æ®åˆ†æ,100125,2000äººä»¥ä¸Š,"ç§»åŠ¨äº’è”ç½‘,ä¼ä¸šæœåŠ¡",ä¸Šå¸‚å…¬å¸,"['èŠ‚æ—¥ç¤¼ç‰©', 'å¹´åº•åŒè–ª', 'è‚¡ç¥¨æœŸæƒ', 'å¸¦è–ªå¹´å‡']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],False
3,6496141,æ•°æ®åˆ†æ,26564,500-2000äºº,ç”µå•†,Dè½®åŠä»¥ä¸Š,"['ç”Ÿæ—¥è¶´', 'æ¯æœˆè…è´¥åŸºé‡‘', 'æ¯æœˆè¡¥è´´', 'å¹´åº¦æ—…æ¸¸']",å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],True
4,6467417,æ•°æ®åˆ†æ,29211,2000äººä»¥ä¸Š,ç‰©æµä¸¨è¿è¾“,ä¸Šå¸‚å…¬å¸,"['æŠ€èƒ½åŸ¹è®­', 'å…è´¹ç­è½¦', 'ä¸“é¡¹å¥–é‡‘', 'å²—ä½æ™‹å‡']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,6884346,æ•°æ®åˆ†æå¸ˆ,21236,500-2000äºº,"ç§»åŠ¨äº’è”ç½‘,åŒ»ç–—ä¸¨å¥åº·",Cè½®,"['æŠ€èƒ½åŸ¹è®­', 'å¹´åº•åŒè–ª', 'èŠ‚æ—¥ç¤¼ç‰©', 'ç»©æ•ˆå¥–é‡‘']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],False
101,6849100,å•†ä¸šæ•°æ®åˆ†æ,72076,500-2000äºº,"ç§»åŠ¨äº’è”ç½‘,ç”µå•†",Cè½®,"['èŠ‚æ—¥ç¤¼ç‰©', 'è‚¡ç¥¨æœŸæƒ', 'å¸¦è–ªå¹´å‡', 'å¹´åº¦æ—…æ¸¸']",å¸‚åœº|å•†åŠ¡ç±»,å¸‚åœº|è¥é”€,å•†ä¸šæ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],False
102,6803432,å¥”é©°Â·è€€å‡ºè¡Œ-BIæ•°æ®åˆ†æä¸“å®¶,751158,150-500äºº,ç§»åŠ¨äº’è”ç½‘,ä¸éœ€è¦èèµ„,[],å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],False
103,6704835,BIæ•°æ®åˆ†æå¸ˆ,52840,2000äººä»¥ä¸Š,ç”µå•†,ä¸Šå¸‚å…¬å¸,"['æŠ€èƒ½åŸ¹è®­', 'å¹´åº•åŒè–ª', 'èŠ‚æ—¥ç¤¼ç‰©', 'ç»©æ•ˆå¥–é‡‘']",å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],True
104,6728058,æ•°æ®åˆ†æä¸“å®¶-LQ(J181203029),2474,2000äººä»¥ä¸Š,æ±½è½¦ä¸¨å‡ºè¡Œ,ä¸éœ€è¦èèµ„,"['å¼¹æ€§å·¥ä½œ', 'èŠ‚æ—¥ç¤¼ç‰©', 'å²—ä½æ™‹å‡', 'æŠ€èƒ½åŸ¹è®­']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,å…¶ä»–æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],True

## 2-1 åŸºäº option ä¿®æ”¹æ˜¾ç¤ºè®¾ç½®
<br>

åœ¨ `pandas` ä¸­æœ‰ä¸€ä¸ª `option` ç³»ç»Ÿï¼Œå¯ä»¥é€šè¿‡ `set_option`æ–¹æ³•è¿›è¡Œè¿›é˜¶æ˜¾ç¤ºé€‰é¡¹è®¾ç½®ã€‚

æœ¬å°èŠ‚ä¸»è¦æ•´ç†äº†ä¸€äº›åŸºäº `option` ä¿®æ”¹æ•°æ®æ˜¾ç¤ºçš„è®¾ç½®ã€‚

æ³¨æ„ã€**åŸºäº option ä¿®æ”¹æ˜¾ç¤ºè®¾ç½®**ã€‘å¹¶æœªä¿®æ”¹æ•°æ®ï¼Œä»…æ˜¯åœ¨åŸæœ‰æ•°æ®åŸºç¡€ä¸Šä¼˜åŒ–æ˜¾ç¤ºçŠ¶æ€ï¼Œéšæ—¶å¯ä»¥é€šè¿‡é‡ç½®é€‰é¡¹é‡ç½®å…¨éƒ¨è®¾ç½®ï¼Œæ¢å¤æ•°æ®é»˜è®¤æ˜¾ç¤ºçŠ¶æ€ã€‚

### 1 æ˜¾ç¤ºå…¨éƒ¨åˆ—

<br>
å¦‚ä¸‹å›¾æ‰€ç¤ºğŸ‘‡ï¼Œç›´æ¥æŸ¥çœ‹ `data` ä¼šå‘ç°ï¼Œç”±äºæ•°æ®ç»´åº¦è¾ƒå¤§ï¼Œéƒ¨åˆ†è¡Œåˆ—ä¼šè¢«æŠ˜å ï¼Œæ˜¾ç¤ºä¸º`...`ï¼Œç°åœ¨éœ€è¦æ˜¾ç¤ºå…¨éƒ¨çš„åˆ—æ–¹ä¾¿é¢„è§ˆã€‚

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/08/19/16293397012946.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)

åœ¨ä¸‹é¢çš„ cell ä¸­è¾“å…¥ä½ çš„è§£å†³æ–¹æ¡ˆï¼Œå¹¶åœ¨æœ€åæ‰§è¡Œ `data.head()`ä»¥æ£€æŸ¥ä½ çš„ç­”æ¡ˆæ˜¯å¦æ­£ç¡®è§£å†³é—®é¢˜ã€‚

In [6]:
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None) #æ˜¾ç¤ºå®Œæ•´çš„è¡Œ
# pd.set_option('display.expand_frame_repr', False) #è®¾ç½®ä¸æŠ˜å æ•°æ®
data.head(3)

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,skillLables,positionLables,industryLables,createTime,formatCreateTime,district,businessZones,salary,workYear,jobNature,education,positionAdvantage,imState,lastLogin,publisherId,approve,subwayline,stationname,linestaion,latitude,longitude,hitags,resumeProcessRate,resumeProcessDay,score,newScore,matchScore,matchScoreExplain,query,explain,isSchoolJob,adWord,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,æ•°æ®åˆ†æ,475770,50-150äºº,"ç§»åŠ¨äº’è”ç½‘,ç”µå•†",Aè½®,"['ç»©æ•ˆå¥–é‡‘', 'å¸¦è–ªå¹´å‡', 'å®šæœŸä½“æ£€', 'å¼¹æ€§å·¥ä½œ']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,"['SQL', 'æ•°æ®åº“', 'æ•°æ®è¿è¥', 'BI']","['ç”µå•†', 'ç¤¾äº¤', 'SQL', 'æ•°æ®åº“', 'æ•°æ®è¿è¥', 'BI']","['ç”µå•†', 'ç¤¾äº¤', 'SQL', 'æ•°æ®åº“', 'æ•°æ®è¿è¥', 'BI']",2020/3/16 11:00,11:00å‘å¸ƒ,ä½™æ­åŒº,['ä»“å‰'],37500,1-3å¹´,å…¨èŒ,æœ¬ç§‘,äº”é™©ä¸€é‡‘ã€å¼¹æ€§å·¥ä½œã€å¸¦è–ªå¹´å‡ã€å¹´åº¦ä½“æ£€,today,2020/3/16 11:00,12022406,1,NaN,NaN,NaN,30.278421,120.005922,NaN,50,1,233,0,15.101875,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
1,5204912,æ•°æ®å»ºæ¨¡,50735,150-500äºº,ç”µå•†,Bè½®,"['å¹´ç»ˆå¥–é‡‘', 'åšäº”ä¼‘äºŒ', 'å…­é™©ä¸€é‡‘', 'å­å¥³ç¦åˆ©']",å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,å»ºæ¨¡,"['ç®—æ³•', 'æ•°æ®æ¶æ„']","['ç®—æ³•', 'æ•°æ®æ¶æ„']",[],2020/3/16 11:08,11:08å‘å¸ƒ,æ»¨æ±ŸåŒº,"['è¥¿å…´', 'é•¿æ²³']",15000,3-5å¹´,å…¨èŒ,æœ¬ç§‘,"å…­é™©ä¸€é‡‘,å®šæœŸä½“æ£€,ä¸°åšå¹´ç»ˆ",disabled,2020/3/16 11:08,5491688,1,NaN,NaN,NaN,30.188041,120.201179,NaN,23,1,176,0,32.559414,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6877668,æ•°æ®åˆ†æ,100125,2000äººä»¥ä¸Š,"ç§»åŠ¨äº’è”ç½‘,ä¼ä¸šæœåŠ¡",ä¸Šå¸‚å…¬å¸,"['èŠ‚æ—¥ç¤¼ç‰©', 'å¹´åº•åŒè–ª', 'è‚¡ç¥¨æœŸæƒ', 'å¸¦è–ªå¹´å‡']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,"['æ•°æ®åº“', 'æ•°æ®åˆ†æ', 'SQL']","['æ•°æ®åº“', 'SQL']",[],2020/3/16 10:33,10:33å‘å¸ƒ,æ±Ÿå¹²åŒº,"['å››å­£é’', 'é’±æ±Ÿæ–°åŸ']",3500,1-3å¹´,å…¨èŒ,æœ¬ç§‘,äº”é™©ä¸€é‡‘ å‘¨æœ«åŒä¼‘ ä¸åŠ ç­ èŠ‚æ—¥ç¦åˆ©,today,2020/3/16 10:33,5322583,1,4å·çº¿,æ±Ÿé”¦è·¯,4å·çº¿_åŸæ˜Ÿè·¯;4å·çº¿_å¸‚æ°‘ä¸­å¿ƒ;4å·çº¿_æ±Ÿé”¦è·¯,30.241521,120.212539,NaN,11,4,80,0,14.972357,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False

### 2 æ˜¾ç¤ºæŒ‡å®šè¡Œ/åˆ—

<br>

æŒ‡å®šè®© `data` åœ¨é¢„è§ˆæ—¶æ˜¾ç¤º10åˆ—ï¼Œ7è¡Œ

In [7]:
data_show = data.iloc[0:7,  0:10]
data_show

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType
0,6802721,æ•°æ®åˆ†æ,475770,50-150äºº,"ç§»åŠ¨äº’è”ç½‘,ç”µå•†",Aè½®,"['ç»©æ•ˆå¥–é‡‘', 'å¸¦è–ªå¹´å‡', 'å®šæœŸä½“æ£€', 'å¼¹æ€§å·¥ä½œ']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ
1,5204912,æ•°æ®å»ºæ¨¡,50735,150-500äºº,ç”µå•†,Bè½®,"['å¹´ç»ˆå¥–é‡‘', 'åšäº”ä¼‘äºŒ', 'å…­é™©ä¸€é‡‘', 'å­å¥³ç¦åˆ©']",å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,å»ºæ¨¡
2,6877668,æ•°æ®åˆ†æ,100125,2000äººä»¥ä¸Š,"ç§»åŠ¨äº’è”ç½‘,ä¼ä¸šæœåŠ¡",ä¸Šå¸‚å…¬å¸,"['èŠ‚æ—¥ç¤¼ç‰©', 'å¹´åº•åŒè–ª', 'è‚¡ç¥¨æœŸæƒ', 'å¸¦è–ªå¹´å‡']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ
3,6496141,æ•°æ®åˆ†æ,26564,500-2000äºº,ç”µå•†,Dè½®åŠä»¥ä¸Š,"['ç”Ÿæ—¥è¶´', 'æ¯æœˆè…è´¥åŸºé‡‘', 'æ¯æœˆè¡¥è´´', 'å¹´åº¦æ—…æ¸¸']",å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,æ•°æ®åˆ†æ
4,6467417,æ•°æ®åˆ†æ,29211,2000äººä»¥ä¸Š,ç‰©æµä¸¨è¿è¾“,ä¸Šå¸‚å…¬å¸,"['æŠ€èƒ½åŸ¹è®­', 'å…è´¹ç­è½¦', 'ä¸“é¡¹å¥–é‡‘', 'å²—ä½æ™‹å‡']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ
5,6882347,æ•°æ®åˆ†æ,94826,50-150äºº,"ç§»åŠ¨äº’è”ç½‘,ç¤¾äº¤",Bè½®,"['è‚¡ç¥¨æœŸæƒ', 'æ‰å¹³ç®¡ç†', 'äº”é™©ä¸€é‡‘', 'å²—ä½æ™‹å‡']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ
6,6841659,æ•°æ®åˆ†æ,348784,50-150äºº,"ç§»åŠ¨äº’è”ç½‘,ç”µå•†",Aè½®,"['å¤§ç‰›å›¢é˜Ÿ', 'æ‰å¹³ç®¡ç†', 'å¹´åº•åŒè–ª', 'è‚¡ç¥¨æœŸæƒ']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ

In [8]:
pd.set_option('display.max_rows', 7)
pd.set_option('display.max_columns', 10)
data

,positionId,positionName,companyId,companySize,industryField,...,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,æ•°æ®åˆ†æ,475770,50-150äºº,"ç§»åŠ¨äº’è”ç½‘,ç”µå•†",...,NaN,0,0,[],False
1,5204912,æ•°æ®å»ºæ¨¡,50735,150-500äºº,ç”µå•†,...,NaN,0,0,[],False
2,6877668,æ•°æ®åˆ†æ,100125,2000äººä»¥ä¸Š,"ç§»åŠ¨äº’è”ç½‘,ä¼ä¸šæœåŠ¡",...,NaN,0,0,[],False
...,...,...,...,...,...,...,...,...,...,...,...
102,6803432,å¥”é©°Â·è€€å‡ºè¡Œ-BIæ•°æ®åˆ†æä¸“å®¶,751158,150-500äºº,ç§»åŠ¨äº’è”ç½‘,...,NaN,0,0,[],False
103,6704835,BIæ•°æ®åˆ†æå¸ˆ,52840,2000äººä»¥ä¸Š,ç”µå•†,...,NaN,0,0,[],True
104,6728058,æ•°æ®åˆ†æä¸“å®¶-LQ(J181203029),2474,2000äººä»¥ä¸Š,æ±½è½¦ä¸¨å‡ºè¡Œ,...,NaN,0,0,[],True

### 3 è¿˜åŸè¡Œ/åˆ—æ˜¾ç¤ºæ•°

<br>
è¿˜åŸä¸Šé¢çš„æ˜¾ç¤ºè®¾ç½®

In [10]:
pd.reset_option('max_rows')
pd.reset_option('max_columns')

### 4 ä¿®æ”¹æ¯åˆ—æœ€å¤§å­—ç¬¦å®½åº¦

<br>

å³æ¯åˆ—æœ€å¤šæ˜¾ç¤ºçš„å­—ç¬¦é•¿åº¦ï¼Œä¾‹å¦‚ã€æ¯åˆ—æœ€å¤šæ˜¾ç¤º10ä¸ªå­—ç¬¦ï¼Œå¤šä½™çš„ä¼šå˜æˆ`...`ã€‘

In [11]:
pd.set_option('display.max_colwidth', 10)
data.head()

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,æ•°æ®åˆ†æ,475770,50-150äºº,"ç§»åŠ¨äº’è”ç½‘,ç”µå•†",Aè½®,['ç»©æ•ˆå¥–é‡‘...,äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],False
1,5204912,æ•°æ®å»ºæ¨¡,50735,150-500äºº,ç”µå•†,Bè½®,['å¹´ç»ˆå¥–é‡‘...,å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,å»ºæ¨¡,...,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6877668,æ•°æ®åˆ†æ,100125,2000äººä»¥ä¸Š,"ç§»åŠ¨äº’è”ç½‘,...",ä¸Šå¸‚å…¬å¸,['èŠ‚æ—¥ç¤¼ç‰©...,äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],False
3,6496141,æ•°æ®åˆ†æ,26564,500-2000äºº,ç”µå•†,Dè½®åŠä»¥ä¸Š,['ç”Ÿæ—¥è¶´'...,å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],True
4,6467417,æ•°æ®åˆ†æ,29211,2000äººä»¥ä¸Š,ç‰©æµä¸¨è¿è¾“,ä¸Šå¸‚å…¬å¸,['æŠ€èƒ½åŸ¹è®­...,äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],True

### 5 ä¿®æ”¹å°æ•°ç‚¹ç²¾åº¦

<br>

ä¿®æ”¹é»˜è®¤æ˜¾ç¤ºç²¾åº¦ä¸ºå°æ•°ç‚¹å5ä½

In [15]:
pd.set_option('display.float_format', '{:,.5f}'.format)

### 6 è¿˜åŸæ‰€æœ‰æ˜¾ç¤ºè®¾ç½®

è¿˜åŸä¸Šé¢çš„å…¨éƒ¨æ˜¾ç¤ºè®¾ç½®

In [16]:
pd.reset_option("^display")

<ipython-input-16-9993e1b881b6>:1: FutureWarning: column_space is deprecated and will be removed in a future version. Use df.to_string(col_space=...) instead.
  pd.reset_option("^display")

## 2-2 æ›´å¤š option ç›¸å…³è®¾ç½®

### 7 å¿½ç•¥è­¦å‘Š
<br>

å–æ¶ˆ`pandas`ç›¸å…³`warning`æç¤º

### 8 è®¾ç½®æ•°å€¼æ˜¾ç¤ºæ¡ä»¶

å¦‚æœæ•°å€¼å°äº 20 åˆ™æ˜¾ç¤ºä¸º0

In [17]:
pd.set_option('chop_threshold', 20)

### 9 è®© pandas æ”¯æŒ LaTex

è®©`dataframe`ä¸­å†…å®¹æ”¯æŒ `Latex` æ˜¾ç¤ºï¼ˆéœ€è¦ä½¿ç”¨`$$`åŒ…ä½ï¼‰

### 10 ä¿®æ”¹é»˜è®¤ç»˜å›¾å¼•æ“

ä¿®æ”¹`pandas`é»˜è®¤ç»˜å›¾å¼•æ“ä¸º`plotly`ï¼ˆéœ€è¦æå‰å®‰è£…å¥½`plotly`ï¼‰

### 11 è¿˜åŸæ‰€æœ‰ option è®¾ç½®

è¿˜åŸä¸Šé¢å…¨éƒ¨ option è®¾ç½®

In [18]:
pd.reset_option("all")

<ipython-input-18-815ccf52250a>:1: FutureWarning: column_space is deprecated and will be removed in a future version. Use df.to_string(col_space=...) instead.
  pd.reset_option("all")
<ipython-input-18-815ccf52250a>:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.
  pd.reset_option("all")
<ipython-input-18-815ccf52250a>:1: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  pd.reset_option("all")

### å½©è›‹

å¦‚ä½•è®¾ç½®åœ¨é¢„è§ˆæ•°æ®æ—¶ï¼Œä¸æ¢è¡Œæ˜¾ç¤ºæ¯åˆ—å†…å®¹ï¼Ÿ

> Indented block



![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/08/19/16293394983242.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)

In [20]:
pd.set_option('display.width', 5000)
data.head()

   positionId positionName  companyId companySize industryField financeStage                   companyLabelList  firstType secondType thirdType  ... plus pcShow appShow deliver gradeDescription promotionScoreExplain isHotHire  count aggregatePositionIds famousCompany
0     6802721         æ•°æ®åˆ†æ     475770     50-150äºº      ç§»åŠ¨äº’è”ç½‘,ç”µå•†           Aè½®   ['ç»©æ•ˆå¥–é‡‘', 'å¸¦è–ªå¹´å‡', 'å®šæœŸä½“æ£€', 'å¼¹æ€§å·¥ä½œ']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN                   NaN         0      0                   []         False
1     5204912         æ•°æ®å»ºæ¨¡      50735    150-500äºº            ç”µå•†           Bè½®   ['å¹´ç»ˆå¥–é‡‘', 'åšäº”ä¼‘äºŒ', 'å…­é™©ä¸€é‡‘', 'å­å¥³ç¦åˆ©']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       æ•°æ®å¼€å‘        å»ºæ¨¡  ...  NaN      0       0       0              NaN                   NaN         0      0                   []         False
2     6877668         æ•°æ®åˆ†æ     100125     2000äººä»¥ä¸Š    ç§»åŠ¨äº’è”ç½‘,ä¼ä¸šæœåŠ¡         ä¸Šå¸‚å…¬å¸   ['èŠ‚æ—¥ç¤¼ç‰©', 'å¹´åº•åŒè–ª', 'è‚¡ç¥¨æœŸæƒ', 'å¸¦è–ªå¹´å‡']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN                   NaN         0      0                   []         False
3     6496141         æ•°æ®åˆ†æ      26564   500-2000äºº            ç”µå•†        Dè½®åŠä»¥ä¸Š  ['ç”Ÿæ—¥è¶´', 'æ¯æœˆè…è´¥åŸºé‡‘', 'æ¯æœˆè¡¥è´´', 'å¹´åº¦æ—…æ¸¸']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       æ•°æ®å¼€å‘      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN                   NaN         0      0                   []          True
4     6467417         æ•°æ®åˆ†æ      29211     2000äººä»¥ä¸Š         ç‰©æµä¸¨è¿è¾“         ä¸Šå¸‚å…¬å¸   ['æŠ€èƒ½åŸ¹è®­', 'å…è´¹ç­è½¦', 'ä¸“é¡¹å¥–é‡‘', 'å²—ä½æ™‹å‡']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN                   NaN         0      0                   []          True

[5 rows x 52 columns]

## 2-3 åŸºäº style  ä¸ªæ€§åŒ–è®¾ç½®

ä¸Šé¢åŸºäº `option` çš„ `pandas` ç›¸å…³è®¾ç½®æ˜¯<font color=#E36C07>å…¨å±€é…ç½®</font>ï¼Œä¸€æ¬¡è®¾ç½®ä¼šåœ¨å…³é—­notebookå‰ä¸€ç›´æœ‰æ•ˆ

ä½†ç›¸å…³å¸¸ç”¨çš„è®¾ç½®å¹¶ä¸å¤šï¼Œä¸èƒ½æ»¡è¶³æ›´å¤šçš„ä¸ªæ€§åŒ–éœ€æ±‚ã€‚

å¹¸è¿çš„æ˜¯åœ¨ `pandas` ä¸­æä¾› `Styler` å¯¹è±¡è®©æˆ‘ä»¬è¿›ä¸€æ­¥ä¸ªæ€§åŒ–å±•ç¤ºæ•°æ®ã€‚

æœ¬èŠ‚æˆ‘å°±å°†ä¸€äº›å¸¸ç”¨çš„åŸºäº `style` ä¸ªæ€§åŒ–è®¾ç½®æ•´ç†ä¸ºä¹ é¢˜æ¨¡å¼æ–¹ä¾¿å¤§å®¶å­¦ä¹ ã€å·©å›ºã€‚

æ³¨æ„ï¼šåŸºäº `style` ä¸ªæ€§åŒ–è®¾ç½®<font color=#E36C07>**åŒæ ·ä¸ä¼šä¿®æ”¹æ•°æ®**</font>ï¼Œæ‰€æœ‰ `data.style.xxxx` è¾“å‡ºçš„æ•°æ®å‡æ˜¯<font color=#E36C07>ä¸€æ¬¡æ€§çš„ï¼ˆå¯ä»¥å¤ç”¨ã€å¯¼å‡ºï¼‰</font>ï¼Œå› æ­¤ä½ åº”è¯¥åœ¨åˆé€‚çš„æ—¶é—´é€‰æ‹©ä½¿ç”¨è¯¥æ–¹æ³•ã€‚

ä¸‹é¢ä»…åˆ—ä¸¾å¸¸ç”¨çš„æ–¹æ³•ï¼Œè‹¥æƒ³äº†è§£æ›´å¤šå¯ä»¥æŸ¥é˜…[**pandaså®˜æ–¹æ–‡æ¡£å¯¹åº”æ–‡ç« ğŸ‘‰**](https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html)

###  é‡æ–°åŠ è½½æ•°æ®

ä¸ºäº†æ–¹ä¾¿ç†è§£ï¼Œé‡æ–°è¯»å–`data.csv`**å‰20è¡ŒæŒ‡å®šåˆ—**
- `'positionName'`
- `'createTime'`ï¼ˆè®¾ç½®ä¸ºæ—¶é—´æ ¼å¼ï¼‰
- `'salary'`
- `'subwayline'`
- `'matchScore'`

In [35]:
data = pd.read_csv(path, usecols=[
                   'positionName', 'createTime', 'salary', 'subwayline', 'matchScore'], nrows=20, parse_dates=['createTime'])

In [36]:
data

        positionName          createTime  salary subwayline  matchScore
0               æ•°æ®åˆ†æ 2020-03-16 11:00:00   37500        NaN   15.101875
1               æ•°æ®å»ºæ¨¡ 2020-03-16 11:08:00   15000        NaN   32.559414
2               æ•°æ®åˆ†æ 2020-03-16 10:33:00    3500        4å·çº¿   14.972357
3               æ•°æ®åˆ†æ 2020-03-16 10:10:00   45000        1å·çº¿   12.874153
4               æ•°æ®åˆ†æ 2020-03-16 09:56:00   30000        NaN   12.755375
5               æ•°æ®åˆ†æ 2020-03-16 09:54:00   50000        NaN   12.718732
6               æ•°æ®åˆ†æ 2020-03-16 09:41:00   30000        NaN   12.615116
7            æ•°æ®å»ºæ¨¡å·¥ç¨‹å¸ˆ 2020-03-16 11:18:00   35000        2å·çº¿    3.033237
8             æ•°æ®åˆ†æä¸“å®¶ 2020-03-16 10:57:00   60000        NaN    1.141952
9              æ•°æ®åˆ†æå¸ˆ 2020-03-16 11:18:00   40000        2å·çº¿    1.177361
10             æ•°æ®åˆ†æå¸ˆ 2020-03-16 10:57:00   30000        NaN    1.161869
11  å¤§æ•°æ®åˆ†æå·¥ç¨‹å¸ˆ(J11108) 2020-03-16 09:25:00   30000        2å·çº¿    4.245066
12           æ•°æ®åˆ†æå·¥ç¨‹å¸ˆ 2020-03-16 11:18:00   20000        2å·çº¿    1.091051
13           èµ„æ·±æ•°æ®åˆ†æå¸ˆ 2020-03-16 10:57:00   30000        NaN    1.075559
14             æ•°æ®åˆ†æå¸ˆ 2020-03-16 10:59:00   37500        NaN    1.053428
15       äº§å“è¿è¥ï¼ˆåæ•°æ®åˆ†æï¼‰ 2020-03-16 10:59:00   27500        NaN    1.015806
16       èµ„æ·±æ•°æ®åˆ†æå¸ˆï¼ˆæ­å·ï¼‰ 2020-03-16 10:59:00   37500        NaN    1.009167
17           å¤§æ•°æ®å»ºæ¨¡æ€»ç›‘ 2020-03-16 11:08:00   37500        NaN    2.719454
18   æ•°æ®å»ºæ¨¡ä¸“å®¶-æ­å·-01546 2020-03-16 11:17:00   30000        NaN    3.033237
19      æ•°æ®åˆ†æä¸“å®¶ï¼ˆæ¸¸æˆä¸šåŠ¡ï¼‰ 2020-03-16 10:19:00   37500        2å·çº¿    0.834333

### 12 éšè—ç´¢å¼•

<br>

éšè—ç´¢å¼•åˆ—

In [37]:
bb = data.style.hide_index().set_table_attributes('style="font-size:10px"')
bb

<ipython-input-37-9f1cdae50404>:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  bb = data.style.hide_index().set_table_attributes('style="font-size:10px"')

In [28]:
# Styler.hide(axis = "index")
# data

NameError: ignored

### 13 è°ƒæ•´ç²¾åº¦

<br>

å°†å¸¦æœ‰å°æ•°ç‚¹çš„åˆ—ç²¾åº¦è°ƒæ•´ä¸ºå°æ•°ç‚¹å2ä½

In [38]:
# data.style.set_precision(2).set_table_attributes('style="font-size:10px"')
# data

ss = data.style.format(precision=2)
ss

### 14 æ ‡è®°ç¼ºå¤±å€¼

å°†ç¼ºå¤±å€¼æ ‡è®°ä¸º`æ•°æ®ç¼ºå¤±`

In [39]:
cc = data.style.set_na_rep('æ•°æ®ç¼ºå¤±')
cc

<ipython-input-39-ba21594e095a>:1: FutureWarning: this method is deprecated in favour of `Styler.format(na_rep=..)`
  cc = data.style.set_na_rep('æ•°æ®ç¼ºå¤±')

å¾®ä¿¡æœç´¢å…¬ä¼—å·ã€Œæ—©èµ·Pythonã€ï¼Œå…³æ³¨åå¯ä»¥è·å¾—æ›´å¤šèµ„æºï¼

### 15 é«˜äº®ç¼ºå¤±å€¼

<br>

å°†ç¼ºå¤±å€¼é«˜äº®ï¼Œé¢œè‰²å`skyblue`

In [40]:
dd = data.style.set_na_rep('æ•°æ®ç¼ºå¤±').highlight_null(null_color='skyblue')
dd

<ipython-input-40-d379443d2ce6>:1: FutureWarning: this method is deprecated in favour of `Styler.format(na_rep=..)`
  dd = data.style.set_na_rep('æ•°æ®ç¼ºå¤±').highlight_null(null_color='skyblue')
<ipython-input-40-d379443d2ce6>:1: FutureWarning: `null_color` is deprecated: use `color` instead
  dd = data.style.set_na_rep('æ•°æ®ç¼ºå¤±').highlight_null(null_color='skyblue')

### 16 é«˜äº®æ•°å€¼åˆ—æœ€å¤§å€¼
<br>
å°† æ•°å€¼æ ¼å¼åˆ—çš„æœ€å¤§å€¼è¿›è¡Œé«˜äº®

In [47]:
ee = data.style.highlight_max(['matchScore','salary'])
ee

### 17 é«˜äº®æ•°å€¼åˆ—æœ€å°å€¼
<br>
å°† æ•°å€¼æ ¼å¼åˆ—çš„æœ€å°å€¼è¿›è¡Œé«˜äº®

In [48]:
ff = data.style.highlight_min(['matchScore','salary'])
ff

### 18 åŒæ—¶é«˜äº®æœ€å¤§æœ€å°å€¼

<br>

åŒæ—¶é«˜äº®æœ€å¤§å€¼ï¼ˆé¢œè‰²ä»£ç ä¸º`#F77802`ï¼‰ä¸æœ€å°å€¼ï¼ˆé¢œè‰²ä»£ç ä¸º`#26BE49`ï¼‰

In [49]:
gg = data.style.highlight_min(['matchScore','salary'],color='#26BE49').highlight_max(['matchScore','salary'],color='#F77802')
gg

### 19 æŒ‡å®šæ ¼å¼é«˜äº®

é«˜äº® `salary` åˆ—èŒƒå›´åœ¨ 3000 - 10000 çš„æ•°å€¼

In [51]:
hh = data.style.highlight_between('salary', left=3000, right=20000)
hh

### 20 æ¸å˜æ˜¾ç¤ºæ•°å€¼åˆ—

å°†æ•°å€¼æ ¼å¼çš„åˆ—ä½¿ç”¨æ¸å˜è‰²ï¼ˆç»¿è‰²ï¼‰è¿›è¡Œæ˜¾ç¤ºï¼Œä»¥çªå‡ºè¶‹åŠ¿

In [52]:
import seaborn as sns

cm = sns.light_palette("green", as_cmap=True)
ii = data.style.background_gradient(cmap=cm)
ii

### 21 ä¿®æ”¹å­—ä½“é¢œè‰²

<br>

å°† `salary` åˆ—ä¿®æ”¹ä¸ºçº¢è‰²å­—ä½“

### 22 ä¿®æ”¹èƒŒæ™¯é¢œè‰²ã€å¯¹é½æ–¹å¼ã€å­—ä½“å¤§å°
<br>

å°†æ•´ä¸ª `dataframe` è¿›è¡Œå¦‚ä¸‹è®¾ç½®ï¼š
- å±…ä¸­
- èƒŒæ™¯è‰²ä¿®æ”¹ä¸º `#F8F8FF`
- å­—ä½“:13px

### 23 ç»¼åˆ(é“¾å¼)è®¾ç½®
<br>

é™¤äº†ä¸Šé¢çš„å•ä¸ªè®¾ç½®ï¼Œè¿˜å¯ä»¥å°†å¤šä¸ªè®¾ç½®è¿›è¡Œç»“åˆï¼Œä¸‹é¢å¯¹æ•´ä¸ª `dataframe` è¿›è¡Œå¦‚ä¸‹è®¾ç½®ï¼š
- å±…ä¸­
- èƒŒæ™¯è‰²ä¿®æ”¹ä¸º `#F8F8FF`
- å­—ä½“:13px

å¹¶å°† `salary` åˆ—å­—ä½“ä¿®æ”¹ä¸ºçº¢è‰²

### 24 å¯¼å‡ºæ ·å¼

å°†ä¸Šä¸€é¢˜å¸¦æœ‰æ ·å¼çš„ `pandas` æ•°æ®æ¡†å¯¼å‡ºä¸ºæœ¬åœ° Excel(`.xlsx`æ ¼å¼)

### 25 åˆ¶ä½œæŒ‡å®šåˆ—æ¡å½¢å›¾

<br>

åœ¨ `pandas` ä¸­å¯¹ `salary` åˆ—ä½¿ç”¨æ¡å½¢å›¾è¿›è¡Œå¯è§†åŒ–ï¼ŒæŒ‡å®šé¢œè‰²`skyblue`

### 26 å¸¦æœ‰æ¡ä»¶çš„æ ·å¼ï¼ˆè‡ªå®šä¹‰æ ·å¼ï¼‰

å°† `salary` åˆ—æ•°å€¼å¤§äº 30000 çš„å•å…ƒæ ¼å­—ä½“ä¿®æ”¹ä¸ºçº¢è‰²

### 27 æ ¼å¼åŒ–è¾“å‡ºæ—¥æœŸç±»å‹

<br>

å°† `createTime` åˆ—æ ¼å¼åŒ–è¾“å‡ºä¸º `xxå¹´xxæœˆxxæ—¥`

### 28 æŒ‡å®šï¼ˆè‡ªå®šä¹‰ï¼‰æ ¼å¼åŒ–æ•°æ®

<br>

- åœ¨ `salary` åˆ—åå¢åŠ "å…ƒ"
- å¯¹ `matchScore` åˆ—ä¿ç•™ä¸¤ä½å°æ•°å¹¶å¢åŠ "åˆ†"

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/16/16317972442543.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)