<a href="https://colab.research.google.com/github/AngelGui/Pandas_learining/blob/main/7_%E6%95%B0%E6%8D%AE%E9%80%8F%E8%A7%86%E4%B8%8E%E5%90%88%E5%B9%B6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas è¿›é˜¶ä¿®ç‚¼ ï½œæ—©èµ·Python
<br>

**æœ¬ä¹ é¢˜ç”±å…¬ä¼—å·ã€æ—©èµ·Python & å¯è§†åŒ–å›¾é‰´ã€‘ åŸåˆ›ï¼Œè½¬è½½åŠå…¶ä»–å½¢å¼åˆä½œè¯·ä¸æˆ‘ä»¬è”ç³»ï¼ˆå¾®ä¿¡å·`sshs321`)ï¼Œæœªç»æˆæƒä¸¥ç¦æ¬è¿åŠäºŒæ¬¡åˆ›ä½œï¼Œä¾µæƒå¿…ç©¶ï¼**



æœ¬ä¹ é¢˜åŸºäº `pandas` ç‰ˆæœ¬ `1.1.3`ï¼Œæ‰€æœ‰å†…å®¹åº”å½“åœ¨ `Jupyter Notebook` ä¸­æ‰§è¡Œä»¥è·å¾—æœ€ä½³æ•ˆæœã€‚


ä¸åŒç‰ˆæœ¬ä¹‹é—´å†™æ³•å¯èƒ½ä¼šæœ‰å°‘è®¸ä¸åŒï¼Œå¦‚è‹¥ç¢°åˆ°æ­¤æƒ…å†µï¼Œä½ åº”è¯¥å­¦ä¼šå¦‚ä½•è‡ªè¡Œæ£€ç´¢è§£å†³ã€‚

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 7 - æ•°æ®é€è§†ä¸åˆå¹¶



<br>

**<font color = '#5172F0'><font size=3.5>å¿…è¯»ğŸ‘‡ğŸ‘‡ğŸ‘‡**</font>
    
ç°åœ¨è®©æˆ‘ä»¬ç»§ç»­ç»ƒä¹  pandasæ•°æ®åˆ†æå¦ä¸€ç»„å¸¸ç”¨æ“ä½œ --> **æ•°æ®é€è§†ä¸åˆå¹¶**


æœ¬èŠ‚ä¹ é¢˜å°†æ¶‰åŠå››å¤§å‡½æ•°ï¼š
    
- pivot_table
- concat
- merge
- join

éšç€ç»ƒä¹ çš„æ·±å…¥ï¼Œè‹¥æ²¡æœ‰ä¸€å®šçš„åŸºç¡€çŸ¥è¯†å°†å¾ˆéš¾ç»§ç»­åˆ·é¢˜
    
å®˜æ–¹æ–‡æ¡£æ°¸è¿œæ˜¯æœ€å¥½çš„å­¦ä¹ æ‰‹å†Œï¼Œåœ¨æœ¬èŠ‚ä¹‹å‰å¼ºçƒˆå»ºè®®å­¦ä¹ [å®˜æ–¹æ–‡æ¡£å¯¹åº”éƒ¨åˆ†](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging)

## åˆå§‹åŒ–

<br>

è¯¥ `Notebook` ç‰ˆæœ¬ä¸º**çº¯ä¹ é¢˜ç‰ˆ**

å¦‚æœéœ€è¦ç­”æ¡ˆæˆ–è€…æç¤ºï¼Œå¯ä»¥å¾®ä¿¡æœç´¢å…¬ä¼—å·ã€Œæ—©èµ·Pythonã€è·å–ï¼

## æ•°æ®é€è§†è¡¨

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/14/16316101294678.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)

### 1 - åŠ è½½æ•°æ®

è¯»å–å½“å‰ç›®å½•ä¸‹ `"æŸè¶…å¸‚é”€å”®æ•°æ®.csv"` å¹¶è®¾ç½®åƒåˆ†ä½ç¬¦å·ä¸º `,`

In [2]:
import pandas as pd
path = '/content/drive/MyDrive/Pandas_Advanced_Exercise-main/7 - æ•°æ®é€è§†ä¸åˆå¹¶/æŸè¶…å¸‚é”€å”®æ•°æ®.csv'
df = pd.read_csv(path)
df

,è®¢å•ID,è®¢å•æ—¥æœŸ,é‚®å¯„æ–¹å¼,å›½å®¶,åœ°åŒº,çœ/è‡ªæ²»åŒº,ç»†åˆ†,ç±»åˆ«,å­ç±»åˆ«,åˆ¶é€ å•†,äº§å“åç§°,æ•°é‡,é”€å”®é¢,åˆ©æ¶¦
0,A1000001,2013/1/1,äºŒçº§,ä¸­å›½,ä¸­å—,æ¹–å—,å…¬å¸,åŠå…¬ç”¨å“,æ”¶çº³å…·,Rogers,"Rogers æ–‡ä»¶è½¦, å•å®½åº¦",5,"3,305",1322
1,A1000001,2013/1/1,äºŒçº§,ä¸­å›½,ä¸­å—,æ¹–å—,å…¬å¸,å®¶å…·,æ¡Œå­,Barricks,"Barricks åœ†æ¡Œ, ç™½è‰²",3,"5,289",-635
2,A1000001,2013/1/1,äºŒçº§,ä¸­å›½,ä¸­å—,æ¹–å—,å…¬å¸,æŠ€æœ¯,ç”µè¯,è¯ºåŸºäºš,"è¯ºåŸºäºš æ™ºèƒ½æ‰‹æœº, æ•´åŒ…",3,"1,725",69
3,A1000001,2013/1/1,äºŒçº§,ä¸­å›½,ä¸­å—,æ¹–å—,å…¬å¸,æŠ€æœ¯,é…ä»¶,è´å°”é‡‘,"è´å°”é‡‘ è®°å¿†å¡, å®æƒ",3,"1,607",611
4,A1000003,2013/1/2,äºŒçº§,ä¸­å›½,åä¸œ,ç¦å»º,æ¶ˆè´¹è€…,åŠå…¬ç”¨å“,æ”¶çº³å…·,Rogers,"Rogers ç›’, å·¥ä¸š",4,456,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9930,A1004918,2016/12/30,æ ‡å‡†çº§,ä¸­å›½,ä¸­å—,å¹¿ä¸œ,æ¶ˆè´¹è€…,æŠ€æœ¯,å¤å°æœº,å¤æ™®,"å¤æ™® å¢¨æ°´, çº¢è‰²",1,343,-172
9931,A1004918,2016/12/30,æ ‡å‡†çº§,ä¸­å›½,ä¸­å—,å¹¿ä¸œ,æ¶ˆè´¹è€…,æŠ€æœ¯,ç”µè¯,ä¸‰æ˜Ÿ,"ä¸‰æ˜Ÿ éŸ³é¢‘åŸºåº§, è“è‰²",2,934,-389
9932,A1004924,2016/12/30,æ ‡å‡†çº§,ä¸­å›½,ä¸­å—,å¹¿ä¸œ,å…¬å¸,æŠ€æœ¯,è®¾å¤‡,æ¾ä¸‹,"æ¾ä¸‹ æ”¶æ®æ‰“å°æœº, è€ç”¨",4,"1,355",-113
9933,A1004924,2016/12/30,æ ‡å‡†çº§,ä¸­å›½,ä¸­å—,å¹¿ä¸œ,å…¬å¸,æŠ€æœ¯,é…ä»¶,Enermax,"Enermax é”®åŒº, å›æ”¶",5,772,-181
9934,A1004919,2016/12/30,æ ‡å‡†çº§,ä¸­å›½,ä¸­å—,æ¹–å—,æ¶ˆè´¹è€…,åŠå…¬ç”¨å“,ä¿¡å°,GlobeWeis,"GlobeWeis æ­æ‰£ä¿¡å°, å›æ”¶",3,122,18

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9935 entries, 0 to 9934
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   è®¢å•ID    9935 non-null   object
 1   è®¢å•æ—¥æœŸ    9935 non-null   object
 2   é‚®å¯„æ–¹å¼    9935 non-null   object
 3   å›½å®¶      9935 non-null   object
 4   åœ°åŒº      9935 non-null   object
 5   çœ/è‡ªæ²»åŒº   9935 non-null   object
 6   ç»†åˆ†      9935 non-null   object
 7   ç±»åˆ«      9935 non-null   object
 8   å­ç±»åˆ«     9935 non-null   object
 9   åˆ¶é€ å•†     9935 non-null   object
 10  äº§å“åç§°    9935 non-null   object
 11  æ•°é‡      9935 non-null   int64
 12  é”€å”®é¢     6124 non-null   float64
 13  åˆ©æ¶¦      9935 non-null   int64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

### 2 - æ•°æ®é€è§†ï½œé»˜è®¤

åˆ¶ä½œå„çœã€Œå¹³å‡é”€å”®é¢ã€çš„æ•°æ®é€è§†è¡¨

In [6]:
# pd.pivot_table(df,values = ['é”€å”®é¢'],index = 'çœ/è‡ªæ²»åŒº')
df['é”€å”®é¢'] = pd.to_numeric(df['é”€å”®é¢'], errors='coerce')
pd.pivot_table(df,values = ['é”€å”®é¢'],index = 'çœ/è‡ªæ²»åŒº')

              é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·     355.037234
äº‘å—     368.128571
å†…è’™å¤    272.815126
åŒ—äº¬     363.724409
å‰æ—     381.706250
å››å·     405.481250
å¤©æ´¥     397.100529
å®å¤     383.266667
å®‰å¾½     375.651163
å±±ä¸œ     374.075912
å±±è¥¿     384.842466
å¹¿ä¸œ     385.424028
å¹¿è¥¿     373.751724
æ–°ç–†     432.294118
æ±Ÿè‹     381.104265
æ±Ÿè¥¿     415.452055
æ²³åŒ—     378.170648
æ²³å—     375.419098
æµ™æ±Ÿ     341.500000
æµ·å—     400.914286
æ¹–åŒ—     350.693467
æ¹–å—     351.840426
ç”˜è‚ƒ     398.842857
ç¦å»º     353.457944
è¥¿è—     201.000000
è´µå·     389.560000
è¾½å®     376.681564
é‡åº†     404.573529
é™•è¥¿     368.465116
é’æµ·     527.000000
é»‘é¾™æ±Ÿ    381.293598

In [8]:
pd.DataFrame(df.groupby('çœ/è‡ªæ²»åŒº')['é”€å”®é¢'].mean())

              é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·     355.037234
äº‘å—     368.128571
å†…è’™å¤    272.815126
åŒ—äº¬     363.724409
å‰æ—     381.706250
å››å·     405.481250
å¤©æ´¥     397.100529
å®å¤     383.266667
å®‰å¾½     375.651163
å±±ä¸œ     374.075912
å±±è¥¿     384.842466
å¹¿ä¸œ     385.424028
å¹¿è¥¿     373.751724
æ–°ç–†     432.294118
æ±Ÿè‹     381.104265
æ±Ÿè¥¿     415.452055
æ²³åŒ—     378.170648
æ²³å—     375.419098
æµ™æ±Ÿ     341.500000
æµ·å—     400.914286
æ¹–åŒ—     350.693467
æ¹–å—     351.840426
ç”˜è‚ƒ     398.842857
ç¦å»º     353.457944
è¥¿è—     201.000000
è´µå·     389.560000
è¾½å®     376.681564
é‡åº†     404.573529
é™•è¥¿     368.465116
é’æµ·     527.000000
é»‘é¾™æ±Ÿ    381.293598

### 3 - æ•°æ®é€è§†ï½œæŒ‡å®šæ–¹æ³•

åˆ¶ä½œå„çœã€Œé”€å”®æ€»é¢ã€çš„æ•°æ®é€è§†è¡¨

In [10]:
pd.pivot_table(df,values = ['é”€å”®é¢'],index = 'çœ/è‡ªæ²»åŒº', aggfunc=sum)

            é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·      66747.0
äº‘å—      51538.0
å†…è’™å¤     32465.0
åŒ—äº¬      46193.0
å‰æ—     122146.0
å››å·      64877.0
å¤©æ´¥      75052.0
å®å¤       5749.0
å®‰å¾½     113071.0
å±±ä¸œ     256242.0
å±±è¥¿      56187.0
å¹¿ä¸œ     218150.0
å¹¿è¥¿      54194.0
æ–°ç–†      14698.0
æ±Ÿè‹      80413.0
æ±Ÿè¥¿      30328.0
æ²³åŒ—     110804.0
æ²³å—     141533.0
æµ™æ±Ÿ      42346.0
æµ·å—      14032.0
æ¹–åŒ—      69788.0
æ¹–å—      99219.0
ç”˜è‚ƒ      27919.0
ç¦å»º      75640.0
è¥¿è—        201.0
è´µå·       9739.0
è¾½å®     134852.0
é‡åº†      55022.0
é™•è¥¿      47532.0
é’æµ·       4743.0
é»‘é¾™æ±Ÿ    172726.0

### 4 - æ•°æ®é€è§†ï½œå¤šæ–¹æ³•

åˆ¶ä½œå„çœã€Œé”€å”®æ€»é¢ã€ä¸ã€Œå¹³å‡é”€å”®é¢ã€çš„æ•°æ®é€è§†è¡¨

In [12]:
import numpy as np
pd.pivot_table(df,values = ['é”€å”®é¢'],index = 'çœ/è‡ªæ²»åŒº',aggfunc=[sum, np.mean])

            sum        mean
            é”€å”®é¢         é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·      66747.0  355.037234
äº‘å—      51538.0  368.128571
å†…è’™å¤     32465.0  272.815126
åŒ—äº¬      46193.0  363.724409
å‰æ—     122146.0  381.706250
å››å·      64877.0  405.481250
å¤©æ´¥      75052.0  397.100529
å®å¤       5749.0  383.266667
å®‰å¾½     113071.0  375.651163
å±±ä¸œ     256242.0  374.075912
å±±è¥¿      56187.0  384.842466
å¹¿ä¸œ     218150.0  385.424028
å¹¿è¥¿      54194.0  373.751724
æ–°ç–†      14698.0  432.294118
æ±Ÿè‹      80413.0  381.104265
æ±Ÿè¥¿      30328.0  415.452055
æ²³åŒ—     110804.0  378.170648
æ²³å—     141533.0  375.419098
æµ™æ±Ÿ      42346.0  341.500000
æµ·å—      14032.0  400.914286
æ¹–åŒ—      69788.0  350.693467
æ¹–å—      99219.0  351.840426
ç”˜è‚ƒ      27919.0  398.842857
ç¦å»º      75640.0  353.457944
è¥¿è—        201.0  201.000000
è´µå·       9739.0  389.560000
è¾½å®     134852.0  376.681564
é‡åº†      55022.0  404.573529
é™•è¥¿      47532.0  368.465116
é’æµ·       4743.0  527.000000
é»‘é¾™æ±Ÿ    172726.0  381.293598

### 5 - æ•°æ®é€è§†ï½œå¤šæŒ‡æ ‡

åˆ¶ä½œå„çœå¸‚ã€Œé”€å”®æ€»é¢ã€ä¸ã€Œåˆ©æ¶¦æ€»é¢ã€çš„æ•°æ®é€è§†è¡¨

In [14]:
pd.pivot_table(df,values = ['é”€å”®é¢','åˆ©æ¶¦'],index = 'çœ/è‡ªæ²»åŒº',aggfunc=sum)

           åˆ©æ¶¦       é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·      87236   66747.0
äº‘å—      83201   51538.0
å†…è’™å¤    -20685   32465.0
åŒ—äº¬      57883   46193.0
å‰æ—     152504  122146.0
å››å·     -16615   64877.0
å¤©æ´¥      63108   75052.0
å®å¤      -1149    5749.0
å®‰å¾½     133312  113071.0
å±±ä¸œ     310042  256242.0
å±±è¥¿      79913   56187.0
å¹¿ä¸œ     278591  218150.0
å¹¿è¥¿      61444   54194.0
æ–°ç–†      13696   14698.0
æ±Ÿè‹      -6500   80413.0
æ±Ÿè¥¿      27144   30328.0
æ²³åŒ—     153247  110804.0
æ²³å—     168714  141533.0
æµ™æ±Ÿ     -17024   42346.0
æµ·å—      21298   14032.0
æ¹–åŒ—     -22896   69788.0
æ¹–å—      92944   99219.0
ç”˜è‚ƒ     -25298   27919.0
ç¦å»º     133791   75640.0
è¥¿è—          4     201.0
è´µå·       5408    9739.0
è¾½å®     -24930  134852.0
é‡åº†      39688   55022.0
é™•è¥¿      61753   47532.0
é’æµ·       4354    4743.0
é»‘é¾™æ±Ÿ    228262  172726.0

### 6 - æ•°æ®é€è§†ï½œå¤šç´¢å¼•

åˆ¶ä½œã€Œå„çœå¸‚ã€ä¸ã€Œä¸åŒç±»åˆ«ã€äº§å“ã€Œé”€å”®æ€»é¢ã€çš„æ•°æ®é€è§†è¡¨

In [16]:
pd.pivot_table(df,values = ['é”€å”®é¢'],index = ['çœ/è‡ªæ²»åŒº','ç±»åˆ«'], aggfunc=sum)

                 é”€å”®é¢
çœ/è‡ªæ²»åŒº ç±»åˆ«
ä¸Šæµ·    åŠå…¬ç”¨å“   44186.0
      å®¶å…·     12773.0
      æŠ€æœ¯      9788.0
äº‘å—    åŠå…¬ç”¨å“   38150.0
      å®¶å…·      9049.0
...              ...
é’æµ·    å®¶å…·      1241.0
      æŠ€æœ¯       379.0
é»‘é¾™æ±Ÿ   åŠå…¬ç”¨å“  117912.0
      å®¶å…·     29006.0
      æŠ€æœ¯     25808.0

[91 rows x 1 columns]

### 7 - æ•°æ®é€è§†ï½œå¤šå±‚

åˆ¶ä½œå„çœå¸‚ã€Œä¸åŒç±»åˆ«ã€äº§å“çš„ã€Œé”€å”®æ€»é¢ã€é€è§†è¡¨

In [17]:
pd.pivot_table(df,values = ['é”€å”®é¢'],index = ['çœ/è‡ªæ²»åŒº','ç±»åˆ«'], aggfunc=sum)

                 é”€å”®é¢
çœ/è‡ªæ²»åŒº ç±»åˆ«
ä¸Šæµ·    åŠå…¬ç”¨å“   44186.0
      å®¶å…·     12773.0
      æŠ€æœ¯      9788.0
äº‘å—    åŠå…¬ç”¨å“   38150.0
      å®¶å…·      9049.0
...              ...
é’æµ·    å®¶å…·      1241.0
      æŠ€æœ¯       379.0
é»‘é¾™æ±Ÿ   åŠå…¬ç”¨å“  117912.0
      å®¶å…·     29006.0
      æŠ€æœ¯     25808.0

[91 rows x 1 columns]

### 8 - æ•°æ®é€è§†ï½œç»¼åˆ

åˆ¶ä½œã€Œå„çœå¸‚ã€ã€ã€Œä¸åŒç±»åˆ«ã€äº§å“ã€Œé”€å”®é‡ä¸é”€å”®é¢ã€çš„ã€Œå‡å€¼ä¸æ€»å’Œã€çš„æ•°æ®é€è§†è¡¨ï¼Œå¹¶åœ¨æœ€åè¿½åŠ ä¸€è¡Œã€åˆè®¡ã€

In [19]:
pd.pivot_table(df,values = ['é”€å”®é¢','æ•°é‡'],index = ['çœ/è‡ªæ²»åŒº','ç±»åˆ«'], aggfunc=[sum, np.mean], margins=True)

              sum                 mean
               æ•°é‡        é”€å”®é¢        æ•°é‡         é”€å”®é¢
çœ/è‡ªæ²»åŒº ç±»åˆ«
ä¸Šæµ·    åŠå…¬ç”¨å“    645    44186.0  3.706897  302.643836
      å®¶å…·      343    12773.0  4.132530  555.347826
      æŠ€æœ¯      217     9788.0  3.616667  515.157895
äº‘å—    åŠå…¬ç”¨å“    540    38150.0  3.913043  334.649123
      å®¶å…·      207     9049.0  4.224490  532.294118
...           ...        ...       ...         ...
é’æµ·    æŠ€æœ¯       23      379.0  3.833333  379.000000
é»‘é¾™æ±Ÿ   åŠå…¬ç”¨å“   1591   117912.0  3.657471  333.084746
      å®¶å…·      651    29006.0  3.921687  547.283019
      æŠ€æœ¯      506    25808.0  3.442177  561.043478
All         20008  2294146.0  3.267146  374.615611

[92 rows x 4 columns]

### 9 - æ•°æ®é€è§†ï½œç­›é€‰

åœ¨ä¸Šä¸€é¢˜çš„åŸºç¡€ä¸Šï¼ŒæŸ¥è¯¢ **ã€Œç±»åˆ«ã€** ç­‰äº **ã€ŒåŠå…¬ç”¨å“ã€** çš„è¯¦æƒ…

In [20]:
table = pd.pivot_table(df,values = ['é”€å”®é¢','æ•°é‡'],index = ['çœ/è‡ªæ²»åŒº','ç±»åˆ«'], aggfunc=[sum, np.mean], margins=True)
table.query('ç±»åˆ« == ["åŠå…¬ç”¨å“"]')

             sum                mean
              æ•°é‡       é”€å”®é¢        æ•°é‡         é”€å”®é¢
çœ/è‡ªæ²»åŒº ç±»åˆ«
ä¸Šæµ·    åŠå…¬ç”¨å“   645   44186.0  3.706897  302.643836
äº‘å—    åŠå…¬ç”¨å“   540   38150.0  3.913043  334.649123
å†…è’™å¤   åŠå…¬ç”¨å“   390   23122.0  3.391304  238.371134
åŒ—äº¬    åŠå…¬ç”¨å“   465   32139.0  3.750000  309.028846
å‰æ—    åŠå…¬ç”¨å“  1042   76161.0  3.520270  317.337500
å››å·    åŠå…¬ç”¨å“   525   35707.0  3.947368  313.219298
å¤©æ´¥    åŠå…¬ç”¨å“   709   52991.0  3.917127  355.644295
å®å¤    åŠå…¬ç”¨å“    45    3206.0  3.750000  320.600000
å®‰å¾½    åŠå…¬ç”¨å“   987   72406.0  3.710526  313.445887
å±±ä¸œ    åŠå…¬ç”¨å“  2518  174830.0  3.775112  324.962825
å±±è¥¿    åŠå…¬ç”¨å“   520   34824.0  3.880597  319.486239
å¹¿ä¸œ    åŠå…¬ç”¨å“  2126  149312.0  3.908088  342.458716
å¹¿è¥¿    åŠå…¬ç”¨å“   522   33959.0  3.954545  308.718182
æ–°ç–†    åŠå…¬ç”¨å“   118    9620.0  3.575758  370.000000
æ±Ÿè‹    åŠå…¬ç”¨å“   743   48692.0  3.849741  312.128205
æ±Ÿè¥¿    åŠå…¬ç”¨å“   229   21993.0  3.523077  366.550000
æ²³åŒ—    åŠå…¬ç”¨å“  1143   75240.0  3.968750  337.399103
æ²³å—    åŠå…¬ç”¨å“  1259   97566.0  3.628242  330.732203
æµ™æ±Ÿ    åŠå…¬ç”¨å“   420   26849.0  3.684211  285.627660
æµ·å—    åŠå…¬ç”¨å“   116   11055.0  3.314286  368.500000
æ¹–åŒ—    åŠå…¬ç”¨å“   638   46755.0  3.666667  305.588235
æ¹–å—    åŠå…¬ç”¨å“   951   68074.0  3.629771  302.551111
ç”˜è‚ƒ    åŠå…¬ç”¨å“   265   15689.0  4.206349  313.780000
ç¦å»º    åŠå…¬ç”¨å“   726   47739.0  3.801047  300.245283
è¥¿è—    åŠå…¬ç”¨å“     3     201.0  3.000000  201.000000
è´µå·    åŠå…¬ç”¨å“    87    7199.0  3.954545  359.950000
è¾½å®    åŠå…¬ç”¨å“  1130   81595.0  3.741722  309.071970
é‡åº†    åŠå…¬ç”¨å“   438   31712.0  3.876106  326.927835
é™•è¥¿    åŠå…¬ç”¨å“   458   32187.0  3.816667  321.870000
é’æµ·    åŠå…¬ç”¨å“    40    3123.0  4.444444  520.500000
é»‘é¾™æ±Ÿ   åŠå…¬ç”¨å“  1591  117912.0  3.657471  333.084746

### 10 -æ•°æ®é€è§†ï½œé€†é€è§†

é€†é€è§†å°±æ˜¯å°†å®½çš„è¡¨è½¬æ¢ä¸ºé•¿çš„è¡¨ï¼Œä¾‹å¦‚å°†ç¬¬ 5 é¢˜çš„é€è§†è¡¨è¿›è¡Œé€†é€è§†ï¼Œå…¶ä¸­ä¸éœ€è¦è½¬æ¢çš„åˆ—ä¸ºã€æ•°é‡ã€åˆ—

In [21]:
pd.pivot_table(df,values = ['é”€å”®é¢','åˆ©æ¶¦'],index = 'çœ/è‡ªæ²»åŒº',aggfunc=sum).T

çœ/è‡ªæ²»åŒº,ä¸Šæµ·,äº‘å—,å†…è’™å¤,åŒ—äº¬,å‰æ—,å››å·,å¤©æ´¥,å®å¤,å®‰å¾½,å±±ä¸œ,...,æ¹–å—,ç”˜è‚ƒ,ç¦å»º,è¥¿è—,è´µå·,è¾½å®,é‡åº†,é™•è¥¿,é’æµ·,é»‘é¾™æ±Ÿ
åˆ©æ¶¦,87236.0,83201.0,-20685.0,57883.0,152504.0,-16615.0,63108.0,-1149.0,133312.0,310042.0,...,92944.0,-25298.0,133791.0,4.0,5408.0,-24930.0,39688.0,61753.0,4354.0,228262.0
é”€å”®é¢,66747.0,51538.0,32465.0,46193.0,122146.0,64877.0,75052.0,5749.0,113071.0,256242.0,...,99219.0,27919.0,75640.0,201.0,9739.0,134852.0,55022.0,47532.0,4743.0,172726.0

In [22]:
table = pd.pivot_table(df,values = ['é”€å”®é¢','åˆ©æ¶¦','æ•°é‡'],index = 'ç±»åˆ«',aggfunc = sum)
table

          åˆ©æ¶¦     æ•°é‡        é”€å”®é¢
ç±»åˆ«
åŠå…¬ç”¨å“  752124  21389  1514194.0
å®¶å…·    628052   8434   445948.0
æŠ€æœ¯    742264   7613   334004.0

In [23]:
table.melt(id_vars=['æ•°é‡'],var_name='åˆ†ç±»',value_name='é‡‘é¢')

      æ•°é‡   åˆ†ç±»         é‡‘é¢
0  21389   åˆ©æ¶¦   752124.0
1   8434   åˆ©æ¶¦   628052.0
2   7613   åˆ©æ¶¦   742264.0
3  21389  é”€å”®é¢  1514194.0
4   8434  é”€å”®é¢   445948.0
5   7613  é”€å”®é¢   334004.0

## æ•°æ®åˆå¹¶

### concat - æ•°æ®æ‹¼æ¥

`concat`ä¸»è¦ç”¨äº**æ•°æ®æ‹¼æ¥**ï¼Œä¹Ÿæ˜¯éå¸¸å¸¸ç”¨çš„ä¸€ä¸ªæ“ä½œ

é™¤äº†å®˜æ–¹æ–‡æ¡£å¤–å¾ˆéš¾æ‰¾åˆ°æ¯”å®˜æ–¹æ–‡æ¡£æ›´å¥½çš„ç»ƒä¹ 

ä»¥ä¸‹æ¡ˆä¾‹æ¥æºæˆ–åŸºäº [ğŸ‘‰å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html) ä¸­çš„æ¡ˆä¾‹ä¿®æ”¹è€Œæ¥

åœ¨ç»ƒä¹ ä¹‹å‰åº”æ‰§è¡Œä¸‹æ–¹ä»£ç ç”Ÿæˆæ•°æ®

å¹¶åº”é¢„è§ˆä¸åŒæ•°æ®çš„ç»“æ„ä»¥åŠæ¯é¢˜çš„å›¾è§£ï¼ˆå¦‚æœæœ‰ï¼‰

In [24]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])


df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])


df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])

In [25]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [26]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [27]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [28]:
df4

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

#### 11 - <font color = '#FB8E00'>concat</font>ï½œé»˜è®¤æ‹¼æ¥

æ‹¼æ¥ df1 å’Œ df2

In [30]:
pd.concat([df1,df2])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

#### 12 - <font color = '#FB8E00'>concat</font>ï½œæ‹¼æ¥å¤šä¸ª

å‚ç›´æ‹¼æ¥ `df1ã€df2ã€df3`ï¼Œæ•ˆæœå¦‚ä¸‹å›¾æ‰€ç¤º

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_basic.png)

In [31]:
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

#### 13 - <font color = '#FB8E00'>concat</font>ï½œé‡ç½®ç´¢å¼•

å‚ç›´æ‹¼æ¥ df1 å’Œ df4ï¼Œå¹¶æŒ‰é¡ºåºé‡æ–°ç”Ÿæˆç´¢å¼•ï¼Œ

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_ignore_index.png)

In [33]:
pd.concat([df1,df4],ignore_index=True)

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

#### 14 - <font color = '#FB8E00'>concat</font>ï½œæ¨ªå‘æ‹¼æ¥

æ¨ªå‘æ‹¼æ¥ `df1ã€df4`ï¼Œæ•ˆæœå¦‚ä¸‹å›¾æ‰€ç¤º


![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1.png)

In [34]:
pd.concat([df1,df4], axis=1)

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

![å…¬ä¼—å·ï¼šæ—©èµ·Python](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/18/16319660121648.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)

#### 15 - <font color = '#FB8E00'>concat</font>ï½œæ¨ªå‘æ‹¼æ¥ï¼ˆå–äº¤é›†ï¼‰

åœ¨ä¸Šä¸€é¢˜çš„åŸºç¡€ä¸Šï¼Œåªå–ç»“æœçš„äº¤é›†

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1_inner.png)

In [37]:
pd.concat([df1,df4],axis=1,join='inner')

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

å¾®ä¿¡æœç´¢å…¬ä¼—å·ã€Œæ—©èµ·Pythonã€ï¼Œå…³æ³¨åå¯ä»¥è·å¾—æ›´å¤šèµ„æºï¼

#### 16 - <font color = '#FB8E00'>concat</font>ï½œæ¨ªå‘æ‹¼æ¥ï¼ˆå–æŒ‡å®šï¼‰

åœ¨ 14 é¢˜åŸºç¡€ä¸Šï¼Œåªå–åŒ…å« df1 ç´¢å¼•çš„éƒ¨åˆ†

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1_join_axes.png)

In [39]:
pd.concat([df1,df4],axis=1)

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [40]:
pd.concat([df1,df4],axis=1).reindex(df1.index)

    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

#### 17 - <font color = '#FB8E00'>concat</font>ï½œæ–°å¢ç´¢å¼•

æ‹¼æ¥ `df1ã€df2ã€df3`ï¼ŒåŒæ—¶æ–°å¢ä¸€ä¸ªç´¢å¼•ï¼ˆ`xã€yã€z`ï¼‰æ¥åŒºåˆ†ä¸åŒçš„è¡¨æ•°æ®æ¥æº

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_keys.png)

In [41]:
pd.concat([df1,df2,df3],keys=['x', 'y', 'z'])

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

### merge - æ•°æ®è¿æ¥

concatæ˜¯æ‹¼æ¥ï¼Œmergeåˆ™æ˜¯è¿æ¥ï¼ŒåŒæ ·é‡è¦çš„ä¸€ä¸ªæ“ä½œ

åŒæ ·å¾ˆéš¾æ‰¾åˆ°æ¯”å®˜æ–¹æ–‡æ¡£æ›´å¥½çš„ç»ƒä¹ ï¼Œä»¥ä¸‹æ¡ˆä¾‹æ¥æºæˆ–åŸºäº [ğŸ‘‰å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging) ä¸­çš„æ¡ˆä¾‹ä¿®æ”¹è€Œæ¥

åœ¨ç»ƒä¹ ä¹‹å‰åº”æ‰§è¡Œæ¯é¢˜ä¸‹æ–¹çš„ä»£ç ç”Ÿæˆæ•°æ®

å¹¶åº”é¢„è§ˆä¸åŒæ•°æ®çš„ç»“æ„ä»¥åŠæ¯é¢˜çš„å›¾è§£ï¼ˆå¦‚æœæœ‰ï¼‰

#### 18 - <font color = '#1B85FF' >merge</font>ï½œæŒ‰å•é”®

æ ¹æ® `key` è¿æ¥ `left` å’Œ `right`

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key.png)

In [43]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [45]:
pd.merge(left,right)

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

#### 19 - <font color = '#1B85FF' >merge</font>ï½œæŒ‰å¤šé”®

æ ¹æ® `key1` å’Œ `key2` è¿æ¥ `left` å’Œ `right`

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_multiple.png)

In [46]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})


right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [48]:
pd.merge(left,right,on=['key1','key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

#### 20 - <font color = '#1B85FF' >merge</font>ï½œå·¦å¤–è¿æ¥


å¦‚ä¸‹å›¾æ‰€ç¤ºçš„ç»“æœè¿æ¥ left å’Œ rightï¼Œä¿ç•™å·¦è¡¨å…¨éƒ¨é”®
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_left.png)

In [49]:
pd.merge(left,right,how='left')

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

#### 21 - <font color = '#1B85FF' >merge</font>ï½œå³å¤–è¿æ¥


å¦‚ä¸‹å›¾æ‰€ç¤ºçš„ç»“æœè¿æ¥ left å’Œ rightï¼Œä¿ç•™å³è¡¨å…¨éƒ¨é”®
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_right.png)

In [50]:
pd.merge(left,right,how='right')

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

#### 22 - <font color = '#1B85FF' >merge</font>ï½œå…¨å¤–è¿æ¥


å¦‚ä¸‹å›¾æ‰€ç¤ºçš„ç»“æœè¿æ¥ left å’Œ rightï¼Œä¿ç•™å…¨éƒ¨é”®
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_outer.png)

In [51]:
pd.merge(left,right,how='outer')

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

#### 23 - <font color = '#1B85FF' >merge</font>ï½œå†…è¿æ¥


å¦‚ä¸‹å›¾æ‰€ç¤ºçš„ç»“æœè¿æ¥ left å’Œ rightï¼Œä¿ç•™äº¤é›†
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_inner.png)

In [52]:
pd.merge(left,right,how='inner')

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

#### 24 - <font color = '#1B85FF' >merge</font>ï½œé‡å¤ç´¢å¼•


é‡æ–°äº§ç”Ÿæ•°æ®å¹¶æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_overlapped_suffix.png)

In [53]:
left = pd.DataFrame({'k': ['K0', 'K1', 'K2'], 'v': [1, 2, 3]})

right = pd.DataFrame({'k': ['K0', 'K0', 'K3'], 'v': [4, 5, 6]})

In [55]:
pd.merge(left,right,how='inner',on='k',suffixes=['_l', '_r'])

    k  v_l  v_r
0  K0    1    4
1  K0    1    5

### join - ç»„åˆ

æœ€åä¸€ä¸ªæ•°æ®åˆå¹¶çš„å¸¸ç”¨ä¸”é‡è¦çš„æ“ä½œæ˜¯`join`

åŒæ ·å¾ˆéš¾æ‰¾åˆ°æ¯”å®˜æ–¹æ–‡æ¡£æ›´å¥½çš„ç»ƒä¹ ï¼Œä»¥ä¸‹æ¡ˆä¾‹æ¥æºæˆ–åŸºäº [ğŸ‘‰å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging) ä¸­çš„æ¡ˆä¾‹ä¿®æ”¹è€Œæ¥

åœ¨ç»ƒä¹ ä¹‹å‰åº”æ‰§è¡Œæ¯é¢˜ä¸‹æ–¹çš„ä»£ç ç”Ÿæˆæ•°æ®

å¹¶åº”é¢„è§ˆä¸åŒæ•°æ®çš„ç»“æ„ä»¥åŠæ¯é¢˜çš„å›¾è§£ï¼ˆå¦‚æœæœ‰ï¼‰

In [56]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                     index=['K0', 'K1', 'K2'])


right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

#### 25 -  <font color ='#27BE49'>join</font>ï½œå·¦å¯¹é½

åˆå¹¶ left å’Œ rightï¼Œå¹¶æŒ‰ç…§ left çš„ç´¢å¼•è¿›è¡Œå¯¹é½

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join.png)

In [57]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

#### 26 - <font color ='#27BE49'>join</font>ï½œå·¦å¯¹é½ï¼ˆå¤–è¿æ¥ï¼‰

æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥

æ€è€ƒï¼šmerge åšæ³•

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_outer.png)

In [60]:
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

#### 27 - <font color ='#27BE49'>join</font>ï½œå·¦å¯¹é½ï¼ˆå†…è¿æ¥ï¼‰

æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_inner.png)

In [61]:
left.join(right, how='inner')

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2

#### 28 - <font color ='#27BE49'>join</font>ï½œæŒ‰ç´¢å¼•

é‡æ–°äº§ç”Ÿæ•°æ®å¹¶æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥ï¼ˆæ ¹æ® `key`ï¼‰

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_key_columns.png)

In [62]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K1', 'K0', 'K1']})


right = pd.DataFrame({'C': ['C0', 'C1'],
                      'D': ['D0', 'D1']},
                      index=['K0', 'K1'])

In [63]:
left.join(right, on='key')

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

#### 29 - <font color ='#27BE49'>join</font>ï½œæŒ‰ç´¢å¼•ï¼ˆå¤šä¸ªï¼‰

é‡æ–°äº§ç”Ÿæ•°æ®å¹¶æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥ï¼ˆæ ¹æ® `key1` å’Œ `key2`ï¼‰

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_multikeys.png)

In [64]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1']})


index = pd.MultiIndex.from_tuples([('K0', 'K0'), ('K1', 'K0'),
                                  ('K2', 'K0'), ('K2', 'K1')])


right = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
                   'D': ['D0', 'D1', 'D2', 'D3']},
                  index=index)

In [65]:
left.join(right, on=['key1','key2'])

    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A3  B3   K2   K1   C3   D3

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/16/16317972442543.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)